mixin media-object(obj)
    .media-object
        img(src=`assets/${obj.img}`, alt="image")
        .media-object__content
            if obj.title
                h3.media-object__title= obj.title
                p.media-object__description= obj.text
            else
                h3.media-object__name= obj.name
                p.media-object__description= obj.speciality
                block